body {
    background-color: #ededed;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #1d1d1d;
    font-size: large;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 16px;
    background-color: #cdcdcd;
}

h1 {
    font-size: 20px;
    font-weight: normal;
    margin: 0 16px;
}

header a {
    margin: 0 16px;
    color: #1d1d1d;
}

main {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
}

.head {
    text-align: center;
    padding-bottom: 32px;
}

img {
    border-radius: 16px;
    width: 450px;
}

.content {
    
}

h2 {

}

a {
    text-decoration: none;
}